{:dev-http {8080 ["resources/public" "classpath:public"]}

 :builds
 {:components
  {:target           :browser
   :output-dir       "resources/public/assets/js"
   :asset-path       "/assets/js"
   :build-hooks      [(stylo.shadow/reload "resources/public/assets/css/stylo.css")]
   :compiler-options {:warnings {:fn-deprecated false}}
   :dev              {:modules {:main {:init-fn    ui.core/main}}}
   :devtools         {:preloads   [re-frisk.preload]}
   :release          {:modules {:main {:init-fn    ui.core/main}}}}

  :gh-pages
  {:target           :browser
   :output-dir       "_site/assets/js"
   :asset-path       "/assets/js"
   :build-hooks      [(stylo.shadow/reload "_site/assets/css/stylo.css")]
   :release          {:modules {:main {:init-fn    ui.core/main}}}}}}
