{:dev-http {8080 ["resources/public" "classpath:public"]}

 :deps {:aliases [:development :shadow-cljs :gh-pages]}

 :builds
 {:components
  {:target           :browser
   :output-dir       "resources/public/assets/js"
   :asset-path       "/assets/js"
   :build-hooks      [(stylo.shadow/reload "resources/public/suitkin/css/stylo.css")]
   :compiler-options {:warnings {:fn-deprecated false}}
   :dev              {:modules {:main {:entries [ui.index]}}}
   :release          {:modules {:main {:entries [ui.index]}}}
   :devtools         {:preloads [re-frisk.preload]}}

  :gh-pages
  {:target           :browser
   :output-dir       "_site/assets/js"
   :asset-path       "/assets/js"
   :closure-defines  {ui.index/GH-PAGES true
                      suitkin.utils/GH-PAGES true}
   :build-hooks      [(stylo.shadow/reload "_site/assets/css/stylo.css")
                      (ui.build/export)]
   :release          {:modules {:main {:entries [ui.index]}}}}}}
