blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  color: #a0aec0;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

.suitkin_components_sidebar-72-24 {
  width: 100%;
}

.suitkin_components_button-32-3 {
  background-color: var(--basic-red-5);
  color: var(--white);
}

.suitkin_components_button-32-3:hover {
  background-color: var(--basic-red-7);
}

.suitkin_components_button-32-3:active {
  background-color: var(--basic-red-8);
}

.suitkin_components_button-32-3:disabled {
  background-color: var(--basic-gray-2);
  color: var(--basic-gray-4);
}

.suitkin_components_button-32-3:disabled .button-icon {
  filter: invert(55%) sepia(9%) saturate(277%) hue-rotate(186deg) brightness(95%) contrast(86%);
}

.suitkin_components_button-32-3 .button-icon {
  filter: invert(100%) sepia(17%) saturate(2%) hue-rotate(233deg) brightness(108%) contrast(101%);
}

.ui_properties-28-26 {
  border-width: 1px;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.suitkin_components_sidebar-66-29 {
  width: 100%;
}

.suitkin_components_button-48-3 {
  background-color: inherit;
  color: var(--basic-red-6);
}

.suitkin_components_button-48-3:hover {
  background-color: rgba(254, 231, 228, 0.40);
}

.suitkin_components_button-48-3:active {
  background-color: rgba(254, 231, 228, 0.80);
}

.suitkin_components_button-48-3:disabled {
  background-color: inherit;
  color: var(--basic-gray-3);
}

.suitkin_components_button-48-3:disabled .button-icon {
  filter: invert(96%) sepia(2%) saturate(881%) hue-rotate(190deg) brightness(84%) contrast(83%);
}

.suitkin_components_button-48-3 .button-icon {
  filter: invert(16%) sepia(78%) saturate(3482%) hue-rotate(357deg) brightness(106%) contrast(94%);
}

.suitkin_components_button-16-3 {
  background-color: var(--basic-gray-0);
  color: var(--basic-gray-7);
  border: 1px solid var(--basic-gray-4);
}

.suitkin_components_button-16-3:hover {
  background-color: var(--basic-gray-1);
}

.suitkin_components_button-16-3:active {
  background-color: var(--basic-gray-2);
}

.suitkin_components_button-16-3:disabled {
  background-color: rgba(219, 221, 227, 0.15);
  color: var(--basic-gray-3);
  border: 1px solid var(--basic-gray-3);
}

.suitkin_components_button-16-3:disabled .button-icon {
  filter: invert(96%) sepia(2%) saturate(881%) hue-rotate(190deg) brightness(84%) contrast(83%);
}

.suitkin_components_button-16-3 .button-icon {
  filter: invert(12%) sepia(21%) saturate(974%) hue-rotate(187deg) brightness(93%) contrast(91%);
}

.ui_properties-8-17 {
  margin-top: 1.0rem;
  border-top-width: 1px;
  padding-top: 1.0rem;
}

.suitkin_components_button-59-3 {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
}

.suitkin_components_button-59-3:disabled {
  cursor: not-allowed;
}

.suitkin_components_button-59-3:focus {
  outline: 0;
}

.suitkin_components_sidebar-34-3 {
  width: 100%;
}

.suitkin_components_sidebar-34-3 summary {
  padding: 6px 16px 6px 16px;
  border-radius: 4px;
}

.suitkin_components_sidebar-34-3 summary:hover {
  background-color: var(--basic-gray-0);
}

.suitkin_components_sidebar-34-3 summary:active {
  background-color: var(--basic-gray-1);
}

.suitkin_components_sidebar-34-3 a.item-active {
  background-color: var(--basic-gray-1);
}

.suitkin_components_sidebar-34-3 a {
  padding: 6px 16px 6px 16px;
  border-radius: 4px;
}

.suitkin_components_sidebar-34-3 a:hover {
  background-color: var(--basic-gray-0);
}

.suitkin_components_sidebar-34-3 a:active {
  background-color: var(--basic-gray-1);
}

.suitkin_components_sidebar-55-17 {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suitkin_components_button-68-58 {
  margin-right: 8px;
}

.suitkin_components_sidebar-45-3 {
  display: flex;
  user-select: none;
  cursor: pointer;
}

.suitkin_components_sidebar-45-3 .chevron {
  transition: .15s transform ease;
}

.suitkin_components_sidebar-45-3 details[open] .chevron {
  transform: rotate(90deg);
}

.suitkin_components_button-55-26 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.suitkin_components_sidebar-67-30 {
  display: flex;
  justify-content: space-between;
}

.suitkin_components_sidebar-84-18 {
  display: flex;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  overflow-y: auto;
  height: 100%;
}

.ui_properties-10-18 {
  margin-top: 0.5rem;
}

.ui_properties-10-18>*+* {
  --space-y-reverse: 0;
  margin-bottom: calc(0.25rem * var(--space-y-reverse));
  margin-top: calc(0.25rem * calc(1 - var(--space-y-reverse)));
}

.ui_properties-16-27 {
  border-width: 1px;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.ui_properties-13-23 {
  opacity: 0.5;
  display: inline-flex;
  width: 100px;
}

.suitkin_components_button-56-26 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.suitkin_components_button-8-3 {
  background-color: var(--basic-gray-4);
  color: var(--white);
}

.suitkin_components_button-8-3:hover {
  background-color: var(--basic-gray-5);
}

.suitkin_components_button-8-3:active {
  background-color: var(--basic-gray-6);
}

.suitkin_components_button-8-3:disabled {
  background-color: var(--basic-gray-2);
  color: var(--basic-gray-4);
  cursor: not-allowed;
}

.suitkin_components_button-8-3:disabled .button-icon {
  filter: invert(55%) sepia(9%) saturate(277%) hue-rotate(186deg) brightness(95%) contrast(86%);
}

.suitkin_components_button-8-3 .button-icon {
  filter: invert(100%) sepia(17%) saturate(2%) hue-rotate(233deg) brightness(108%) contrast(101%);
}

.suitkin_components_button-24-3 {
  background-color: inherit;
  color: var(--basic-gray-7);
}

.suitkin_components_button-24-3:hover {
  background-color: var(--basic-gray-1);
}

.suitkin_components_button-24-3:active {
  background-color: var(--basic-gray-2);
}

.suitkin_components_button-24-3:disabled {
  background-color: inherit;
  color: var(--basic-gray-3);
}

.suitkin_components_button-24-3:disabled .button-icon {
  filter: invert(96%) sepia(2%) saturate(881%) hue-rotate(190deg) brightness(84%) contrast(83%);
}

.suitkin_components_button-24-3 .button-icon {
  filter: invert(12%) sepia(21%) saturate(974%) hue-rotate(187deg) brightness(93%) contrast(91%);
}

.ui_navigation-15-17 {
  height: 100%;
}

.suitkin_components_sidebar-18-3 {
  padding: 4px;
  margin-bottom: 16px;
  border-top: 1px solid var(--basic-gray-2,red);
}

.suitkin_components_sidebar-6-3 {
  flex-flow: column;
  line-height: 20px;
  width: 240px;
  height: 100vh;
  border-right: 1px solid var(--basic-gray-2,red);
  word-spacing: -1px;
  font-size: 14px;
  letter-spacing: 0.33px;
  display: flex;
  color: var(--basic-gray-7);
}

.suitkin_components_sidebar-24-3 {
  padding-bottom: 14px;
  height: auto;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  padding-right: 16px;
  letter-spacing: 0.48px;
  display: flex;
  color: #353B50;
  padding-left: 16px;
  padding-top: 14px;
}

.suitkin_components_sidebar-24-3>*+* {
  --space-x-reverse: 0;
  margin-right: calc(4px * var(--space-x-reverse));
  margin-left: calc(4px * calc(1 - var(--space-x-reverse)));
}

.suitkin_components_sidebar-56-50 {
  padding-right: 8px;
}

.suitkin_components_button-40-3 {
  background-color: rgba(254, 231, 228, 0.15);
  color: var(--basic-red-6);
  border: 1px solid var(--basic-red-5);
}

.suitkin_components_button-40-3:hover {
  background-color: rgba(254, 231, 228, 0.40);
}

.suitkin_components_button-40-3:active {
  background-color: rgba(254, 231, 228, 0.80);
}

.suitkin_components_button-40-3:disabled {
  background-color: rgba(219, 221, 227, 0.15);
  color: var(--basic-gray-3);
  border: 1px solid var(--basic-gray-3);
}

.suitkin_components_button-40-3:disabled .button-icon {
  filter: invert(96%) sepia(2%) saturate(881%) hue-rotate(190deg) brightness(84%) contrast(83%);
}

.suitkin_components_button-40-3 .button-icon {
  filter: invert(16%) sepia(78%) saturate(3482%) hue-rotate(357deg) brightness(106%) contrast(94%);
}