blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  color: #a0aec0;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

.suitkin_demo-26-41 {
  color: rgba(0,0,0,var(--text-opacity));
  --text-opacity: 1;
  margin-right: 0.5rem;
}

.suitkin_demo-27-22 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  margin-right: 0.5rem;
}

.suitkin_demo-28-22 {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.suitkin_demo-28-22>*+* {
  --space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-x-reverse)));
}

.suitkin_demo-32-25 {
  border-right-width: 1px;
  border-rigth-width: 1px;
  padding-right: 0.75rem;
  background-color: inherit;
}

.suitkin_demo-34-23 {
  padding-left: 0.5rem;
  display: flex;
}

.suitkin_demo-34-23>*+* {
  --space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--space-x-reverse)));
}

.suitkin_demo-37-29 {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.suitkin_demo-37-29:hover {
  outline: 2px solid black;
  outline-offset: 1px;
}

.suitkin_demo-67-18>*+* {
  --space-y-reverse: 0;
  margin-bottom: calc(1.25rem * var(--space-y-reverse));
  margin-top: calc(1.25rem * calc(1 - var(--space-y-reverse)));
}

.suitkin_demo-67-18 {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter;
}

.suitkin_demo-68-18 {
  font-size: 1.875rem;
  font-weight: 700;
}

.suitkin_demo-74-18 {
  margin-top: 3.75rem;
  font-size: 1.875rem;
  font-weight: 500;
}

.suitkin_demo-76-18 {
  font-size: 1.875rem;
  font-weight: 500;
}

.suitkin_demo-81-18 {
  font-size: 1.875rem;
  font-weight: 500;
}

.suitkin_demo-82-18 {
  font-size: 1.25rem;
  font-weight: 500;
}

.suitkin_demo-84-18 {
  font-size: 1.25rem;
  font-weight: 500;
}

.suitkin_toolkit_button-10-3 {
  line-height: 1.625;
  border-width: 1px;
  padding-bottom: 0.5rem;
  transition-duration: 200ms;
  transition-property: all;
  --bg-opacity: 1;
  align-items: center;
  white-space: nowrap;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: rgba(255,255,255,var(--bg-opacity));
  padding-right: 1.0rem;
  border-radius: 0.25rem;
  display: inline-flex;
  padding-left: 1.0rem;
  padding-top: 0.5rem;
}

.suitkin_toolkit_button-10-3>*+* {
  --space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-x-reverse)));
}

.suitkin_toolkit_button-10-3:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.suitkin_toolkit_button-10-3:not(:disabled):hover {
  color: rgba(66,153,225,var(--text-opacity));
  --text-opacity: 1;
  border-width: 1px;
  border-color: rgba(66,153,225,var(--border-opacity));
  --border-opacity: 1;
}

.suitkin_toolkit_button-10-3:not(:disabled):active {
  color: rgba(44,82,130,var(--text-opacity));
  --text-opacity: 1;
  border-width: 1px;
  border-color: rgba(44,82,130,var(--border-opacity));
  --border-opacity: 1;
}

.suitkin_toolkit_button-10-3:disabled {
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: rgba(203,213,224,var(--border-opacity));
  --border-opacity: 1;
  cursor: not-allowed;
}

.suitkin_toolkit_button-28-3 {
  background-color: rgba(66,153,225,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.suitkin_toolkit_button-28-3:not(:disabled):hover {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(99,179,237,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-28-3:not(:disabled):active {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(49,130,206,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-36-3 {
  background-color: rgba(234,74,53,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.suitkin_toolkit_button-36-3:not(:disabled):hover {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(210,66,47,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-36-3:not(:disabled):active {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(244,164,154,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-44-3 {
  --text-opacity: 1;
  border-width: 1px;
  padding-bottom: 0.625rem;
  border-color: transparent;
  --border-opacity: 1;
  font-weight: 500;
  font-size: .875rem;
  background-color: rgb(var(--button__accent-color, var(--main-color, 120, 38, 245)));
  padding-right: 1.5rem;
  letter-spacing: 0.05em;
  border-radius: 5px;
  color: rgba(255,255,255,var(--text-opacity));
  padding-left: 1.5rem;
  padding-top: 0.625rem;
}

.suitkin_toolkit_button-44-3:focus {
  outline: none;
  box-shadow: none;
}

.suitkin_toolkit_button-44-3>*+* {
  --space-x-reverse: 0;
  margin-right: calc(0.0rem * var(--space-x-reverse));
  margin-left: calc(0.0rem * calc(1 - var(--space-x-reverse)));
}

.suitkin_toolkit_button-44-3:disabled {
  background-color: rgba(244,244,244,var(--bg-opacity));
  --bg-opacity: 1;
  color: rgba(197,197,197,var(--text-opacity));
  --text-opacity: 1;
  border-style: none;
}

.suitkin_toolkit_button-44-3:not(:disabled):hover {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(var(--button__accent-color, var(--main-color, 120, 38, 245)), 0.6);
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-62-3 {
  border-width: 1px;
  padding-bottom: 0.25rem;
  border-color: transparent;
  --border-opacity: 1;
  font-weight: 500;
  font-size: .75rem;
  background-color: rgba(var(--button__accent-color, var(--main-color)), 0.15);
  padding-right: 0.75rem;
  letter-spacing: 0.05em;
  border-radius: 5px;
  color: rgba(var(--button__accent-color, var(--main-color)), 1);
  padding-left: 0.75rem;
  padding-top: 0.25rem;
}

.suitkin_toolkit_button-62-3:focus {
  outline: none;
  box-shadow: none;
}

.suitkin_toolkit_button-62-3>*+* {
  --space-x-reverse: 0;
  margin-right: calc(0.0rem * var(--space-x-reverse));
  margin-left: calc(0.0rem * calc(1 - var(--space-x-reverse)));
}

.suitkin_toolkit_button-62-3:disabled {
  background-color: rgba(244,244,244,var(--bg-opacity));
  --bg-opacity: 1;
  color: rgba(197,197,197,var(--text-opacity));
  --text-opacity: 1;
  border-style: none;
}

.suitkin_toolkit_button-62-3:not(:disabled):hover {
  background-color: rgba(var(--button__accent-color, var(--main-color)), 1);
  color: rgb(var(--button__text-color, 255, 255, 255));
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-81-3 {
  --text-opacity: 1;
  border-width: 2px;
  padding-bottom: 0.25rem;
  border-color: rgba(120, 38, 245, 1);
  --bg-opacity: 1;
  --border-opacity: 1;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  background-color: transparent;
  padding-right: 0.75rem;
  letter-spacing: 0.05em;
  border-radius: 8px;
  color: rgba(120, 38, 245, 1);
  padding-left: 0.75rem;
  padding-top: 0.25rem;
}

.suitkin_toolkit_button-81-3:focus {
  outline: none;
  box-shadow: none;
}

.suitkin_toolkit_button-81-3:not(:disabled):hover {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(120, 38, 245, 1);
  --bg-opacity: 1;
  border-width: 2px;
  border-color: rgba(120, 38, 245, 1);
  --border-opacity: 1;
}

.suitkin_toolkit_button-81-3:not(:disabled):active {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(98, 31, 199, 1);
  border-width: 2px;
  border-color: rgba(120, 38, 245, 1);
  --border-opacity: 1;
}

.suitkin_toolkit_button-96-3 {
  background-color: rgba(245,101,101,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.suitkin_toolkit_button-96-3:not(:disabled):hover {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(252,129,129,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-96-3:not(:disabled):active {
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(229,62,62,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-104-3 {
  background-color: transparent;
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
  color: rgba(49,130,206,var(--text-opacity));
  --text-opacity: 1;
}

.suitkin_toolkit_button-104-3:focus {
  outline: none;
  box-shadow: none;
}

.suitkin_toolkit_button-104-3:not(:disabled):hover {
  color: rgba(66,153,225,var(--text-opacity));
  --text-opacity: 1;
  background-color: transparent;
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-104-3:not(:disabled):active {
  color: rgba(44,82,130,var(--text-opacity));
  --text-opacity: 1;
  background-color: transparent;
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-104-3:disabled {
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
  background-color: transparent;
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
  cursor: not-allowed;
}

.suitkin_toolkit_button-114-3 {
  border-width: 1px;
  padding-bottom: 0.25rem;
  border-color: transparent;
  --bg-opacity: 1;
  --border-opacity: 1;
  background-color: transparent;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

.suitkin_toolkit_button-114-3:not(:disabled):hover {
  color: rgba(120, 38, 245, 1);
  --text-opacity: 1;
  background-color: rgba(242, 233, 254, 1);
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-114-3:not(:disabled):active {
  color: inherit;
  --text-opacity: 1;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
}

.suitkin_toolkit_button-114-3:disabled {
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
  background-color: transparent;
  --bg-opacity: 1;
  border-width: 1px;
  border-color: transparent;
  --border-opacity: 1;
  cursor: not-allowed;
}

.suitkin_toolkit_button-124-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.0625rem;
  padding-bottom: 0.0625rem;
  font-size: .75rem;
}

.suitkin_toolkit_button-127-3 {
  position: relative;
  border-radius: 0px;
}

.suitkin_toolkit_button-127-3:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.suitkin_toolkit_button-127-3:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.suitkin_toolkit_button-127-3:not(:first-child) {
  margin-left: -1px;
}

.suitkin_toolkit_button-127-3:focus {
  z-index: 2;
}

.suitkin_toolkit_button-127-3:hover {
  z-index: 1;
}

.suitkin_toolkit_button-160-31 {
  margin-right: 0.5rem;
}

.suitkin_toolkit_button-199-19 {
  display: block;
  flex-grow: 1;
}

.suitkin_toolkit_button-206-20 {
  min-width: 160px;
  padding-bottom: 13px;
  font-family: Inter;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  padding-right: 25px;
  letter-spacing: 0.4px;
  border-radius: 0.25rem;
  padding-left: 25px;
  padding-top: 13px;
}

.suitkin_toolkit_button-218-29 {
  background-color: var(--suitkin-secondary-color);
  color: rgba(0,0,0,var(--text-opacity));
  --text-opacity: 1;
}

.suitkin_toolkit_button-218-29:hover {
  opacity: 0.8;
}

.suitkin_toolkit_button-220-22 {
  background-color: var(--suitkin-primary-button-color, var(--suitkin-primary-color));
  color: rgba(255,255,255,var(--text-opacity));
  --text-opacity: 1;
}

.suitkin_toolkit_button-220-22:hover {
  opacity: 0.8;
}

.suitkin_toolkit_dropdown-button-26-21 {
  position: relative;
  display: inline-block;
  align-self: center;
}

.suitkin_toolkit_dropdown-button-32-25 {
  min-width: 10.0rem;
  line-height: 1.625;
  top: 100%;
  --bg-opacity: 1;
  position: absolute;
  margin-top: 0.5rem;
  z-index: 100;
  box-shadow: 0px -4px 105px rgba(0, 0, 0, 0.05), 0px -0.677245px 23.4531px rgba(0, 0, 0, 0.0298054), 0px -0.154328px 6.98261px rgba(0, 0, 0, 0.0201946);;
  overflow: hidden;
  background-color: rgba(255,255,255,var(--bg-opacity));
  border-radius: 16px;
  left: -1px;
}

.suitkin_toolkit_dropdown-button-37-25 {
  display: flex;
  flex-direction: column;
}

.suitkin_toolkit_dropdown-button-37-25>*+* {
  --divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--divide-y-reverse)));
  border-bottom-width: calc(1px * var(--divide-y-reverse));
}

.suitkin_toolkit_dropdown-button-40-28 {
  --text-opacity: 1;
  padding-bottom: 1.25rem;
  white-space: nowrap;
  cursor: pointer;
  padding-right: 1.5rem;
  letter-spacing: 0.025em;
  color: rgba(17,24,39,var(--text-opacity));
  padding-left: 1.5rem;
  padding-top: 1.25rem;
}

.suitkin_toolkit_dropdown-button-40-28:hover {
  background-color: rgba(242, 233, 254, 1);
}

.suitkin_toolkit_input-11-3 {
  line-height: 1.625;
  width: 100%;
  border-width: 1px;
  padding-bottom: 3px;
  border-color: rgba(250,250,250,var(--border-opacity));
  border: 1px solid #DADCE0;
  align-items: center;
  --border-opacity: 1;
  position: relative;
  overflow: hidden;
  padding-right: 18px;
  border-radius: 0.25rem;
  display: inline-flex;
  padding-left: 18px;
  padding-top: 3px;
}

.suitkin_toolkit_input-11-3>*+* {
  --space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--space-x-reverse)));
}

.suitkin_toolkit_input-11-3:focus-within {
  outline: 2px solid #3067CB;
  box-shadow: none;
}

.suitkin_toolkit_input-11-3:focus {
  outline: none;
  box-shadow: none;
}

.suitkin_toolkit_input-28-3 {
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: rgba(203,213,224,var(--border-opacity));
  --border-opacity: 1;
  cursor: not-allowed;
}

.suitkin_toolkit_input-28-3:hover {
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
  border-width: 1px;
  border-color: rgba(203,213,224,var(--border-opacity));
  --border-opacity: 1;
}

.suitkin_toolkit_input-35-3 {
  min-width: 0.0rem;
  line-height: 1.625;
  --text-opacity: 1;
  padding-bottom: 0.25rem;
  --bg-opacity: 1;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  flex: 1 1 auto;
  color: rgba(0,0,0,var(--text-opacity));
  padding-top: 0.25rem;
}

.suitkin_toolkit_input-35-3:focus {
  outline: none;
}

.suitkin_toolkit_input-35-3:disabled {
  cursor: not-allowed;
}

.suitkin_toolkit_input-53-20 {
  position: absolute;
  height: 100%;
  right: 0.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  border-left: 1px solid #DADCE0;
}

.suitkin_toolkit_input-86-49 {
  outline: 2px solid #dc2626;
}

.suitkin_toolkit_select-36-3 {
  line-height: 1.625;
  width: 100%;
  padding-bottom: 7px;
  max-width: 100%;
  border: 1px solid #DADCE0;
  align-items: center;
  position: relative;
  padding-right: 1.75rem;
  border-radius: 4px;
  display: inline-flex;
  padding-top: 7px;
}

.suitkin_toolkit_select-36-3:focus-within {
  outline: 2px solid #3067CB;
}

.suitkin_toolkit_select-36-3[disabled] {
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: rgba(203,213,224,var(--border-opacity));
  --border-opacity: 1;
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
  cursor: not-allowed;
}

.suitkin_toolkit_select-51-3 {
  width: 1.75rem;
  right: 0.0rem;
  --text-opacity: 1;
  border-left: 1px solid #DADCE0;
  top: 0.0rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-right: 28px;
  border-radius: 0 4px 4px 0;
  display: flex;
  bottom: 0.0rem;
  color: rgba(0,0,0,var(--text-opacity));
  padding-left: 28px;
}

.suitkin_toolkit_select-51-3::before {
  margin-top: 0.125rem;
}

.suitkin_toolkit_select-51-3:hover {
  background-color: #F8F8F9;
  cursor: pointer;
}

.suitkin_toolkit_select-51-3:[disabled] {
  cursor: not-allowed;
}

.suitkin_toolkit_select-71-3 {
  right: 1.5rem;
  font-family: Inter;
  white-space: nowrap;
  position: absolute;
  text-overflow: ellipsis;
  font-weight: 500;
  overflow: hidden;
  font-size: 16px;
  pointer-events: none;
  left: 18px;
}

.suitkin_toolkit_select-80-3 {
  background-color: transparent;
  --bg-opacity: 1;
  padding-left: 18px;
  width: 100%;
  flex: 1 1 0%;
  cursor: default;
}

.suitkin_toolkit_select-80-3::placeholder {
  font-size: 12px;
  color: #6D737C;
  font-family: Inter;
  font-weight: 500;
}

.suitkin_toolkit_select-80-3:disabled {
  cursor: not-allowed;
}

.suitkin_toolkit_select-80-3:focus {
  outline: none;
  cursor: text;
}

.suitkin_toolkit_select-91-3 {
  line-height: 1.625;
  right: -1px;
  top: 100%;
  overflow-y: auto;
  border: 1px solid #DADCE0;
  position: absolute;
  margin-top: 8px;
  z-index: 100;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow-x: hidden;
  background-color: white;
  border-radius: 0.25rem;
  max-height: 15.0rem;
  left: -1px;
}

.suitkin_toolkit_select-109-3 {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

.suitkin_toolkit_select-109-3:hover {
  background-color: #F8F8F9;
}

.suitkin_toolkit_select-116-3 {
  background-color: rgba(246,246,246,var(--bg-opacity));
  --bg-opacity: 1;
}

.suitkin_toolkit_select-124-3 {
  padding-bottom: 0.25rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  overflow: hidden;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

.suitkin_toolkit_select-131-3 {
  appearance: none;
  width: 22px;
  --bg-opacity: 1;
  height: 22px;
  margin-right: 0.5rem;
  -webkit-appearance: none;
  user-select: none;
  border: 2px solid #DADCE0;
  vertical-align: middle;
  cursor: pointer;
  background-color: rgba(255,255,255,var(--bg-opacity));
  border-radius: 4px;
  display: inline-block;
  flex: none;
  color: rgb(109, 115, 124);
}

.suitkin_toolkit_select-131-3:focus {
  outline: none;
}

.suitkin_toolkit_select-131-3:checked {
  background-position: 50%;
  border-width: 1px;
  border-color: transparent;
  background-repeat: no-repeat;
  --bg-opacity: 1;
  --border-opacity: 1;
  background-size: 100% 100%;
  background-color: currentColor;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

.suitkin_toolkit_select-154-3 {
  width: 22px;
  background-position: 50%;
  border-width: 1px;
  border-color: transparent;
  background-repeat: no-repeat;
  --bg-opacity: 1;
  height: 22px;
  --border-opacity: 1;
  background-color: black;
}

.suitkin_toolkit_select-447-44 {
  outline: 2px solid #dc2626;
}

.suitkin_toolkit_select-455-52 {
  visibility: hidden;
}

.suitkin_toolkit_select-456-48 {
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
}

.suitkin_toolkit_select-462-37 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.suitkin_toolkit_select-463-54 {
  opacity: 0%;
}

.suitkin_toolkit_select-482-54 {
  font-size: 1rem;
}

.suitkin_toolkit_select-485-38 {
  cursor: pointer;
  background-color: #F8F8F9;
}

.suitkin_toolkit_select-487-38 {
  font-size: 1rem;
  font-weight: 800;
}

.suitkin_toolkit_select-491-45 {
  font-size: 1rem;
  font-weight: 800;
}

.suitkin_toolkit_select-503-40 {
  cursor: pointer;
}

.suitkin_toolkit_select-511-32 {
  display: flex;
  align-items: center;
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.suitkin_toolkit_select-513-39 {
  margin-left: 6px;
  margin-right: 12px;
  border-radius: 4px;
  text-align: center;
}

.suitkin_toolkit_select-517-33 {
  padding-top: 2px;
}

.suitkin_toolkit_textarea-12-3 {
  line-height: 1.625;
  width: 100%;
  border-width: 1px;
  transition-duration: 200ms;
  transition-property: all;
  border-color: rgba(250,250,250,var(--border-opacity));
  --bg-opacity: 1;
  align-items: center;
  --border-opacity: 1;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  background-color: rgba(250,250,250,var(--bg-opacity));
  border-radius: 0.25rem;
  display: inline-flex;
}

.suitkin_toolkit_textarea-12-3>*+* {
  --space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--space-x-reverse)));
}

.suitkin_toolkit_textarea-12-3:focus-within {
  outline: none;
  border-width: 1px;
  border-color: rgba(234,74,53,var(--border-opacity));
  --border-opacity: 1;
}

.suitkin_toolkit_textarea-12-3:hover {
  border-width: 1px;
  border-color: rgba(234,74,53,var(--border-opacity));
  --border-opacity: 1;
}

.suitkin_toolkit_textarea-26-3 {
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
  background-color: rgba(237,242,247,var(--bg-opacity));
  --bg-opacity: 1;
  border-width: 1px;
  border-color: rgba(203,213,224,var(--border-opacity));
  --border-opacity: 1;
  cursor: not-allowed;
}

.suitkin_toolkit_textarea-26-3:hover {
  color: rgba(160,174,192,var(--text-opacity));
  --text-opacity: 1;
  border-width: 1px;
  border-color: rgba(203,213,224,var(--border-opacity));
  --border-opacity: 1;
}

.suitkin_toolkit_textarea-33-3 {
  min-width: 0.0rem;
  line-height: 1.625;
  padding-bottom: 0.25rem;
  --bg-opacity: 1;
  min-height: 2.75rem;
  background-color: transparent;
  padding-right: 0.5rem;
  resize: none;
  flex: 1 1 auto;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
}

.suitkin_toolkit_textarea-33-3:focus {
  outline: none;
}

.suitkin_toolkit_textarea-33-3:disabled {
  cursor: not-allowed;
}

.suitkin_toolkit_textarea-62-21 {
  font-weight: 400;
}

.suitkin_zf_util-13-17 {
  color: rgba(113,128,150,var(--text-opacity));
  --text-opacity: 1;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.suitkin_zf_util-19-36 {
  border-width: 1px;
  padding-bottom: 2.5rem;
  justify-content: center;
  align-items: center;
  padding-right: 1.0rem;
  border-radius: 0.25rem;
  display: flex;
  padding-left: 1.0rem;
  padding-top: 2.5rem;
}